@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,400;1,300&family=Bitter:wght@200&family=Gantari&family=Monoton&family=Montserrat:wght@100&family=Oswald:wght@700&family=Roboto:wght@300&family=Titillium+Web:wght@200&display=swap');

body {
    background-color: var(--background-color);
}

main {
    display: flex;
    flex-direction: column;
    place-content: center center;
    align-items: center;

    height: 95vh;
}

main h2 {
    font-family: 'Bitter', serif;
    font-size: 50px;
    color: whitesmoke;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons > button {

    font-size: 20px;
    margin: 5px;
    padding: 5px;
    border-radius: 10%;
}

